.timeline-grid {
    position: relative;
    margin: 0 auto;
    padding-left: 2rem;
    border-left: 3px solid var(--header-color);
    /* vertical line */
}

.timeline-item {
    position: relative;
    margin-bottom: 4rem;
}

.timeline-point {
    position: absolute;
    top: 30px;
    left: -43px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid var(--header-color);
    border-radius: 50%;
    /*    position: sticky;
    top: var(--header-height);*/
}

.degree {
    font-weight: bold;
    color: var(--header-color);
    font-size: 1.1rem;
    position: sticky;
    top: var(--header-height);
    left: 0;
    /* sticks when scrolling */
    background: #fff;
    padding: 1.5rem 1.5rem 0 0;
    z-index: 3;
}

.details {
    margin-left: 2rem;
    padding: 1.5rem 1.5rem;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    position: sticky;
    top: 4rem;
    /* sticks separately */
}

.degree p{
    font-size: 1.5rem;
}

/* Desktop layout */
@media (min-width: 768px) {
    .timeline-grid {
        display: grid;
        grid-template-columns: 1fr 3px 2fr;
        gap: 2rem;
        border: none;
    }

    .timeline-item::before {
        content: "";
        grid-column: 2;
        grid-row: 1 / -1;
        background: var(--header-color);
        width: 3px;
        justify-self: center;
    }

    .timeline-item {
        display: contents;
        /* let children participate in grid */
    }

    .timeline-point {
        position: absolute;
        top: 30px;
        left: -9px;
        grid-column: 2;
        justify-self: center;
        z-index: 2;
/*        background-color: var(--header-color);*/
    }

    .degree {
        grid-column: 1;
        text-align: right;
    }

    .details {
        grid-column: 3;
    }
}
